/* Our font choice from Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

/* Basic reset */
h1, h2, h3, h4, h5, h6, body {
  margin: 0;
  padding: 0;
}

/* Navigation bar */
.main-nav {
  width: 100%;
  background-color: #d35400;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-nav > li {
  list-style: none;
}

.main-nav > li > a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 10px;
  color: #fff;
}

.main-nav > li > a:hover {
  background: #2c3e50;
  transition: 0.25s;
}

/* Country */
.countries {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.country {
  min-width: 320px;
  background: #2c3e50;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  color: #fff;
}

.country h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.country small::before {
  content: 'pop: ';
}
.country small {
  display: block;
  width: 100%;
  font-size: 0.6em;
  font-weight: normal;
  letter-spacing: normal;
  text-align: right;
}

.country p {
  margin-top: 1.5em;
}

/* Featured Country */
.main-heading {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e50;
}
.main-heading > h1 {
  color: #e67e22;
  font-size: 2em;
}